:root{
    --fondo-streaming: rgb(25, 25, 27);
    --color-logo: rgb(239, 239, 239);
    --color-texto: rgb(255, 255, 255);
    --fuente-logo: 'Ubuntu', sans-serif;
    --texto-pagina: 'Figtree', sans-serif;
    --vivo:rgb(255, 0, 0);
    --rojo: rgb(255, 0, 115);
    --verde: rgb(121, 255, 18);
    --azul: rgb(0, 128, 255);
    --fondo-canales: rgb(199, 195, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: var(--fondo-streaming);
}

/*Logo de Televisión Creativa*/

.logo{
    font-family: var(--fuente-logo);
    color: var(--color-logo);
    padding: 30px 30px 30px 0px;
    font-weight: 700;
}

.fondo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.encabezado{
    padding: 35px 35px 35px 0px;
}

.encabezado a{
    text-decoration: none;
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    margin-left: 10px;
    margin-right: 10px;
}

#btn-vivo{
    color: whitesmoke;
    font-family: var(--texto-pagina);
    font-weight: 600;
    background-color: var(--vivo);
    height: 35px;
    width: 60px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/*Programa principal*/

.imagen-principal{
    background-image: url(../img/Telediario.jpg);    
    background-position: center;
    background-position-y: 40%;
    background-position-x: 20%;
    height: 85vh;
}

.programa-principal{
    padding-top: 25%;
    margin-left: 5%;
}

.programa-principal h1{
    font-family: var(--texto-pagina);
    font-weight: 700;
    color: var(--color-texto);
    text-shadow: 1px 1px 3px black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.programa-principal p{
    font-family: var(--texto-pagina);
    font-weight: 700;
    color: var(--color-texto);
    text-shadow: 1px 1px 3px black;
    max-width: 70%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/*Botones del programa principal*/

#btn-reproducir{
    color: whitesmoke;
    font-family: var(--texto-pagina);
    font-weight: 700;
    background-color: black;
    height: 35px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#btn-mas-info{
    color: whitesmoke;
    font-family: var(--texto-pagina);
    font-weight: 700;
    background-color: black;
    height: 35px;
    width: 120px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#clasificacion{
    color: whitesmoke;
    font-family: var(--texto-pagina);
    font-weight: 700;
    background: linear-gradient(#f70358, #ff8903);
    height: 35px;
    width: 50px;
    border: none;
    border-radius: 4px;
}

/*Formato de los títulos*/

#titulos{
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/*Programas recomendados*/

.otros-programas{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    font-weight: 300;
    margin-left: 5%;
    text-shadow: 1px 1px 3px black;
}

.recomendados{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Tamaño de las imagenes de los programas recomendados*/

h4{
    font-family: var(--fuente-logo);
    font-weight: 500;
    text-shadow: 1px 1px 3px black;
}

#Bru{
    background-image: url(../img/Bru\ y\ sus\ amigos.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 55%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

#Moroko{
    background-image: url(../img/Moroko\ diversión.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 65%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

#Zuleyha{
    background-image: url(../img/Zuleyha.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 76%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

#Fugitiva{
    background-image: url(../img/Fugitiva.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 85%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

#Masterchef{
    background-image: url(../img/Masterchef.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 20%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

#Vivomardel{
    background-image: url(../img/Mardel.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 85%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
/*Próximos programas*/

.proximamente{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    font-weight: 300;
    margin-left: 5%;
}

/*Horarios de los programas*/

.carrousel-programas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 1px 1px 3px black;
}

.pgm-horarios{
    background-image: url(../img/La\ comida\ en\ su\ salsa.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 85%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

.pgm-horarios-uno{
    background-image: url(../img/División\ Noticias.jpeg);
    background-size: cover;
    background-position: center;
    background-position-x: 70%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

.pgm-horarios-dos{
    background-image: url(../img/Noticiero.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 70%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

.pgm-horarios-tres{
    background-image: url(../img/Zuleyha.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 75%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

.pgm-horarios-cuatro{
    background-image: url(../img/Fútbol.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

.pgm-horarios-cinco{
    background-image: url(../img/Pasapalabra.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}

/*Carrousel Canales propios*/

.titulo-nombres-canales{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 15px;
}

/*Logo de los canales propios*/

img{
    height: 115px;
    width: 130px;
    margin-top: 50%;
    margin-left: 5%;
}

/*Texto de los canales propios*/

#nombre-canales-propios{
    margin-left: 45px;
    margin-right: 45px;
    font-family: var(--fuente-logo);
    font-weight: 500;
    margin-left: 5%;
}

#Logo-canales{
    height: 100px;
    width: 100px;
    padding-left: 2.3vh;
    padding-bottom: 2.3vh;
} 

#mardel{
    background-color: var(--fondo-canales);
    height: 300px;
    width: 140px;
    padding: 25px 25px 25px 25px;
}

#bahia{
    background-color: var(--fondo-canales);
    height: 300px;
    width: 140px;
    padding: 25px 25px 25px 25px;
}

#rosario{
    background-color: var(--fondo-canales);
    height: 300px;
    width: 140px;
    padding: 25px 25px 25px 25px;
}

#quilmes{
    background-color: var(--fondo-canales);
    height: 300px;
    width: 140px;
    padding: 25px 25px 25px 25px;
}

#cordoba{
    background-color: var(--fondo-canales);
    height: 300px;
    width: 140px;
    padding: 25px 25px 25px 25px;
}

.canales-propios{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    font-weight: 300;
    margin-left: 5%;
}

.canales-propios h2{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    font-weight: 500;
}

/* Podcast */

.podcast{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    font-weight: 300;
    margin-left: 5%;
}
.carrousel-podcast{
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-shadow: 1px 1px 3px black;
}

.primer-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
.segundo-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
.tercer-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
.cuarto-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
.quinto-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
.sexto-podcast{
    background-image: url(../img/Microfono.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: 80%;
    padding: 25px 25px 25px 25px;
    height: 300px;
    width: 140px;
    position: static;
}
/* Pie de página */

.contenedor-pie-de-pagina{
    display: flex;
    gap: 50px;
    width: 90%;
    margin: auto;
    padding: 7px 7px 7px 7px;
}

.direccion{
    font-family: var(--texto-pagina);
    color: var(--color-texto);
    margin-top: 6vh;
}

.redes-sociales{
    font-family: var(--texto-pagina);
    font-weight: 600;
    color: var(--color-texto);
    margin-top: 6vh;
}

#facebook{
    height: 40px;
    width: 40px;
}

#twitter{
    height: 40px;
    width: 40px;
}

#instagram{
    height: 40px;
    width: 40px;
}

#twitch{
    height: 40px;
    width: 40px;
}

#youtube{
    height: 40px;
    width: 40px;
}